<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AST Admin Panel</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h2 style="margin-bottom: 25px">Admin Login</h2>
    <a href="/auth/google"><img src="/img/google-signin-button.png" /></a>
  </body>
</html>
